.user-container {

    background-color: rgb(216, 47, 47);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    gap: 1.2rem;
    margin: 5px;
    flex-direction: column;

}

#user-image {
    height: 150px;
    width: 150px;
}